<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Successful Registration Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #4CAF50; /* Green background color */
            color: #fff; /* White text color */
            margin: 20px;
            text-align: center;
        }

        h2 {
            margin-top: 50px;
        }

        p {
            margin: 20px 0;
        }
    </style>
</head>

<body>

<h2>Registration Successful</h2>

<p>Congratulations! Your registration was successful.</p>

</body>

</html>
